body {
	margin: 0 0 0 0;
}

.wrapper {
	width: 100%;
	background-color: #fff;
}

.headerwrap {
	margin-top: 15px;
	background-color: #617F5A;
}

.header {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

.navigation {
	width: 75%;
	margin-left: 0;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#current {
	color: #fff;
}

.navigation a:active {
	color: #fff;
}

.navigation a:hover {
	color: #fff;
}

.navigation a {
	color: #ccc;
	text-decoration: none;
	padding-right: 10px;
}

.sprites {
	width: 24%;
	margin-right: 0;
	display: inline-block;
}

.sprites a {
	float: right;
}

.sprites img {
	padding: 5px 5px 0px 5px;
}

#github {
	
}

#github :hover {
	background-image: url('https://sjenriquez.github.io/img/GitHub-Mark-32px.png');
}

#twitter {

}

#linkedin {

}

.content {
	width: 75%;
	margin: 20px auto;
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
}

.content h1{
	font-size: 22px;
	text-align: center;
}

.content img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.footer {
	width: 75%;
	margin: 20px auto;
}

.footer_left {
	width: 45%;
	left: 0px;
	display: inline-block;
}

.footer_right {
	width: 54%;
	right: 0px;
	display: inline-block;
	text-align: right;
}