body {
	margin: 0 0 0 0;
	background-color: #d7d5cf;
}

.wrapper {
	width: 100%;
}

.headerwrap {
	background-color: #444;
	position: fixed;
	width: 100%;
	top: 0;
}

.header {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

.navigation {
	width: 75%;
	float: left;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: .9em;
}

#current {
	color: #fff;
}

.navigation a:active {
	color: #fff;
}

.navigation a:hover {
	color: #fff;
}

.navigation a {
	color: #ccc;
	text-decoration: none;
	padding-right: 10px;
}

.navigation ul{
  list-style-type:none;
  padding:0px;
  width:90%;
  overflow:hidden;
  margin-left:0px;
}

.navigation li{
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  padding-right: 20px;
}

.sprites {
	width: 24%;
	float: right;
	display: inline-block;
}

.sprites a {
	float: right;
	padding: 4px 10px 0px 10px;
}

.sprites img {
	padding: 0;
}

#github {
	background-image: url('./img/GitHub-Mark-Light-32px.png');
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
}

#github :hover {
	background-image: url('./img/GitHub-Mark-32px.png');
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
}

#twitter {
	padding-top: 9px;
}

#linkedin {

}

#email {
	float: left;
	margin-left: 120px;
	margin-bottom: 400px;
}

.content {
	width: 75%;
	margin: 60px auto;
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
}

.content h1{
	font-size: 2em;
	margin:10px 0px 30px 10px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.2em;
}

.content a:hover {
	color: #fff;
}

.content a {
	color: #444;
	text-decoration: none;
}

.content img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#pizza {
	display: inline !important;
	margin-left: 2px;
	margin-right: 2px;
}

.footerwrap {
	width: 100%;
	background-color: #444;
	clear: both;
}

.footer {
	width: 75%;
	margin: 20px auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8em;
	color: #fff;
}

.footer_left {
	width: 45%;
	left: 0px;
	display: inline-block;
}

.footer_right {
	width: 54%;
	right: 0px;
	display: inline-block;
	text-align: right;
}



.blog_main{
  float:left;
  width:65%;
  margin:50px 0px 10px 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 150%;
}

.blog_main h1 {
	font-size: 2em;
	margin:10px 0px 30px 10px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.2em;
}

.whoomp {
	font-size: 2em;
	margin:10px 0px 30px 10px;
	text-align: left;
	line-height: 1.2em;
	font-weight: bold;
}

.blog_main h2{
	font-size: 1.5em;
	margin:10px 0px 10px 10px;
}

.blog_main h3{
	font-size: 1.3em;
	margin:10px 0px 10px 10px;
}

.blog_main p{
	margin:10px 0px 10px 10px;
}

.blog_main a:hover {
	color: #fff;
}

.blog_main a {
	color: #444;
	text-decoration: none;
}

hr.dashed {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin: 50px 0;
}

.blog_sidebar{
  float:right;
  width:33%;
  margin:10px 0px;
}

.blog_sidebar ul {
	list-style-type:none;
	padding-top: 60px;
}

.blog_sidebar li {
	padding-top: 10px;
}

.blog_sidebar a {
	text-decoration: none;
	color: #343444;
}

.blog_sidebar :hover {
	color: #ccc
}

.code {
	color: #000;
	background-color: white;
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

p.inline-block {
	display:inline-block;
	background-color: yellow;
	width: 200px;
}

p.inline {
	display: inline;
	background-color: green;
	margin: 0;
	padding: 0;
}

p.block {
	display: block;
	background-color: tan;
	width: 200px;
}

.img_center {
	margin: 0 auto;
	padding: 10px 0;
}

.img-center-inline {
	margin: 0 auto;
	padding: 15px;
	display: inline !important;
	vertical-align: top;
}